/* Your app custom files in this file */
/* Tab bar icons */
/*
	Inactive: #929292
	Active: #007aff
	Good source: https://www.flaticon.com/
*/
i.tabbar-demo-icon-2 {
  width: 30px;
  height: 30px;
  background-image: url("../img/faq-inactive.svg");
}
.active i.tabbar-demo-icon-2 {
  background-image: url("../img/faq-active.svg");
}
i.tabbar-demo-icon-1 {
  width: 30px;
  height: 30px;
  background-image: url("../img/apps-inactive.svg");
}
.active i.tabbar-demo-icon-1 {
  background-image: url("../img/apps-active.svg");
}
i.tabbar-demo-icon-3 {
	width: 30px;
	height: 30px;
	background-image: url("../img/tools-inactive.svg");
}
.active i.tabbar-demo-icon-3 {
	width: 30px;
	height: 30px;
	background-image: url("../img/tools-active.svg");
}
i.tabbar-demo-icon-4 {
  width: 30px;
  height: 30px;
  background-image: url("../img/games-inactive.svg");
}
.active i.tabbar-demo-icon-4 {
  background-image: url("../img/games-active.svg");
}