body {
	font-family: sans-serif;
	text-align: center;
	background-color: #EEE;
}

table {
	margin: auto;
	border-collapse: collapse;
}

tbody, th, td {
	border: 1px solid black;
}

#answer {
	display: none;
}